@use "../abstracts/variables";
#game{
    border: solid 1px black;
}

.game-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info{
    background-image: url("../img/brushed-alum.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 1000px;
}